/* Nav Section */

#Navbar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  padding: 0px 80px;
  background-color: rgb(255, 255, 255);
}

#Navbar div {
  background-color: rgb(255, 255, 255);
}

#Navbar h1 {
  color: rgba(19, 11, 45, 1);
  font-family: "Inter";
  font-size: 24px;
  font-weight: 700;
  background-color: rgb(255, 255, 255);
}

#Navbar ul {
  display: flex;
  background-color: rgb(255, 255, 255);
  align-items: center;
  list-style-type: none;
}

#Navbar li {
  color: rgba(0, 0, 0, 0.9);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  margin: 0px 16px;
  background-color: rgb(255, 255, 255);
}

#button-container {
  display: flex;
  justify-content: space-between;
  padding: 0px;
}

#button-container li {
  margin-right: 0px;
  margin-left: 32px;
}

#Navbar button {
  /* width: 145px; */
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10;
  padding: 12px 16px 12px 16px;
  border-radius: 4px;
  background: linear-gradient(
    125deg,
    rgba(99, 46, 227, 1),
    rgba(159, 98, 242, 1)
  );
  color: white;
  border: 0px;
}

/* Banner Section */

#Banner {
  width: calc(100% - 160px);
  display: flex;
  justify-content: space-between;
  margin: 80px auto;
}

.BannerCard {
  width: 49%;
  height: 250px;

  border-radius: 8px;
  background: linear-gradient(
    90deg,
    rgba(99, 46, 227, 1),
    rgba(159, 98, 242, 1)
  );
}

.second_card {
  background: linear-gradient(
    90deg,
    rgba(84, 207, 103.7, 1),
    rgba(0, 130, 122.2, 1)
  );
}

.BannerCard1 {
  width: 100%;
  height: 100%;
  background: url("/vector1.png"), url("/vector3.png");
  background-position: left bottom, right bottom;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bannerCard1 p {
  margin: 0;
}

.BannerTitle {
  color: rgba(255, 255, 255, 1);
  font-family: "Inter";
  font-size: 24px;
  font-weight: 400;
  background-color: rgba(240, 248, 255, 0);
  text-align: center;
}

.BannerCount {
  color: rgba(255, 255, 255, 1);
  font-family: "Inter";
  font-size: 60px;
  font-weight: 600;
  background-color: rgba(240, 248, 255, 0);
  text-align: center;
  margin: 0px !important;
}

/* footer section*/

.footer {
  background-color: black;
  display: block;
  padding-top: 1px;

  height: auto;
}

.footer-container {
  display: flex;
  width: calc(100% - 160px);
  justify-content: space-between;
  background-color: rgba(240, 248, 255, 0);
  margin: 80px auto 0px auto;
  align-items: flex-start;
  padding-bottom: 80px;
  border-bottom: 1px solid rgba(164, 164, 164, 0.479);
}

.footer h2,
.footer h3,
.footer p,
.footer ul,
.footer ul li,
.footer ul li a {
  color: rgba(161, 161, 170, 1);
}

.about {
  width: 350px;
}

.about h2 {
  color: rgba(255, 255, 255, 1);
  font-family: "Inter";
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}

.about p {
  color: rgba(161, 161, 170, 1);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
}

.footer-column h3 {
  color: rgba(255, 255, 255, 1);
  font-family: "Inter";
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 16px;
}

.footer-column ul li {
  color: rgba(161, 161, 170, 1);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  margin: 16px 0px;
}

.footer-bottom {
  display: block;
  width: 100%;
  text-align: center;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-bottom h3 {
  color: rgba(250, 250, 250, 1);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.social img {
  width: 20px;
  height: 20px;
  background-color: rgb(255, 255, 255);
  display: inline-block;
  border-radius: 50%;
  border: 1px solid rgb(189, 189, 189);
}

/*  Middle section */

#middle-container {
  width: calc(100% - 160px);
  margin: 80px auto;
  display: flex;
}

#Ticker-container-pro {
  width: 100%;
}

#ticket-header {
  color: rgba(52, 72, 90, 1);
  font-family: "Inter";
  font-size: 24px;
  font-weight: 600;
}

.Tickets {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  gap: 20px;
  padding: 0px 20px 20px 0px;
  box-sizing: border-box;
}

.card {
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: all ease 0.3s;
}

.greenCard {
  transition: all ease 0.3s;
}

.yellowCard {
  transition: all ease 0.3s;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-header h3 {
  color: rgba(0, 25, 49, 1);
  font-family: "Inter";
  font-size: 18px;
  font-weight: 500;
}

.card-badge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10;
  padding: 4px 12px 4px 12px;
  border-radius: 400px;
  background: rgba(185, 248, 207, 1);
  font-family: "Inter";
  color: rgba(11, 94, 6, 1);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 15px;
  gap: 15px;
}

.card .description {
  color: rgba(98, 115, 130, 1);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
}

.ticket-id {
  color: rgba(98, 115, 130, 1);
  font-family: "Inter";
  font-size: 14px;
  font-weight: 500;
}

.priority {
  color: rgba(248, 48, 68, 1);
  font-family: "Inter";
  font-size: 14px;
  font-weight: 500;
}

.card .name {
  color: rgba(98, 115, 130, 1);
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
}

.card .date {
  color: rgba(98, 115, 130, 1);
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.card-footer {
  display: flex;
  justify-content: space-between;
}

.yellowish {
  background-color: rgba(248, 243, 185, 1);
  color: rgba(156, 119, 0, 1);
}

.greenish {
  background-color: rgba(185, 248, 207, 1);
  color: rgba(11, 94, 6, 1);
}

.yellowish1 {
  color: rgba(254, 187, 12, 1) !important;
  width: 16px;
  height: 16px;
  background-color: rgba(254, 187, 12, 1);
  border-radius: 50%;
}

.greenish1 {
  color: rgba(2, 165, 59, 1) !important;
  width: 16px;
  height: 16px;
  background-color: rgba(2, 165, 59, 1);
  border-radius: 50%;
}

.yellowish2 {
  color: rgba(254, 187, 12, 1);
}

.greenish2 {
  color: rgba(2, 165, 59, 1);
}

.redish {
  color: rgba(248, 48, 68, 1);
}

/*  Task container */

.task-header {
  color: rgba(52, 72, 90, 1);
  font-family: "Inter";
  font-size: 24px;
  font-weight: 600;
}

.resolve-header {
  color: rgba(52, 72, 90, 1);
  font-family: "Inter";
  font-size: 24px;
  font-weight: 600;
}

.task-desc {
  color: rgba(98, 115, 130, 1);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
}

.resolve-desc {
  color: rgba(98, 115, 130, 1);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
}

.pending-list {
  box-sizing: border-box;
}

.pending-list > div {
  width: 100%;
  border-radius: 8px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  margin-bottom: 20px;
  transition: all ease 0.3s;
  cursor: pointer;
}

.pending-list div h2 {
  color: rgba(0, 25, 49, 1);
  font-family: "Inter";
  font-size: 18px;
  font-weight: 500;
  margin-top: 0px;
}

.pending-list button {
  background-color: rgba(2, 165, 59, 1);
  color: white;
  border: 0px;
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  border-radius: 4px;
}

#Taskcompletion {
  width: 25%;
}

.solved-list > div {
  width: 100%;
  border-radius: 8px;
  background-color: #e0e7ff;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  cursor: pointer;
}

.solved-list div h3 {
  font-size: 18px;
  font-family: "Inter";
  font-weight: 600;
  color: black;
  margin: 0px 0px 10px 0px;
}

.solved-list div p {
  font-size: 16px;
  color: green;
  margin: 0px;
  font-family: "Inter";
  font-weight: 500;
}

.solved-list div div {
  display: flex;
  align-items: center;
}

.solved-list div img {
  width: 16px;
  height: 16px;
}

button {
  cursor: pointer;
}

.pending-list button {
  transition: all ease 0.3s;
}

.shifter {
  display: none;
}

.shifter button {
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px 0px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  width: 150px;
  border-radius: 8px;
  color: #ffffff;
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgba(99, 46, 227, 1),
    rgba(159, 98, 242, 1)
  );
}

.redishCard {
  transition: all ease 0.3s;
}

.social ul li {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.card-header {
  gap: 10px;
}

/* Responsive css */

@media (min-width: 768px) {
  .greenCard:hover {
    background-color: rgb(234, 255, 243);
    transform: translateY(-3px) scale(1.01);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .yellowCard:hover {
    background-color: rgb(254, 255, 234);
    transform: translateY(-3px) scale(1.01);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .pending-list > div:hover {
    background-color: rgb(234, 255, 243);
    transform: translateY(-3px) scale(1.01);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .pending-list button:hover {
    background-color: rgb(0, 135, 77);
  }

  .redishCard:hover {
    background-color: rgb(255, 234, 234);
    transform: translateY(-3px) scale(1.01);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
}

@media (max-width: 768px) {
  #Navbar {
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    height: auto;
    padding: 0px;
  }

  #Navbar > div {
    width: 90%;
  }

  #Navbar div h1 {
    text-align: center;
  }

  #Navbar div ul {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  #Navbar > div ul li {
    margin: 5px 5px 15px 5px;
  }

  .footer-container {
    flex-direction: column;
    width: calc(100% - 80px);
  }

  .about {
    width: auto;
  }

  #Banner {
    flex-direction: column;
    gap: 30px;
    margin: 80px auto;
    width: 90%;
  }
  .BannerCard {
    width: 100%;
    height: auto;
  }

  .BannerTitle {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .BannerCount {
    margin-bottom: 18px !important;
  }

  #middle-container {
    width: 90%;
    margin: 80px auto;
    flex-direction: column;
  }

  .Tickets {
    grid-template-columns: 1fr;
    padding: 0;
  }

  #Taskcompletion {
    width: 100%;
  }

  .card-footer span {
    margin: 5px !important;
  }

  .hide-contain {
    display: none;
  }

  .shifter {
    display: block;
    display: flex;
    width: 90%;
    justify-content: center;
    margin: 2px auto;
  }
}
